.popup__button {
  width: 100%;
  height: 64px;
  margin-top: 12px;
  border: 0;
  background: #E6E8EB;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 2px 0 0px 3px;
}

.popup__button:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.popup__button {
    width: 108%;
    margin-top: -6px;
	}
}
