@import url(./__header/mobile-menu__header.css);
@import url(./__logo/mobile-menu__logo.css);
@import url(./__close/mobile-menu__close.css);
@import url(./__navigation/mobile-menu__navigation.css);
@import url(./__link/mobile-menu__link.css);
@import url(./__button/mobile-menu__button.css);
@import url(./__nav-icon/mobile-menu__nav-icon.css);

.mobile-menu {
  width: 100%;
  background: #1A1B22;
  border-radius: 0 0 16px 16px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 24px;
}