.news__button {
  width: 288px;
  border-radius: 80px;
  background: #FFF;
  color: #1A1B22;
  padding: 19px 0px 21px 0px;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0px 0 80px 573px;
}

.news__button:hover {
  opacity: 0.9;
}

.news__button:focus {
  outline: none;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
	.news__button {
    width: 240px;
    padding: 15px 0px 17px 0px;
    margin: 0px 0 40px 272px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.news__button {
    margin: 0px 0 32px 16px;
    padding: 15px 84px 17px 84px;
	}
}