@import url('./_active/popup__form-error-registration_active.css');

.popup__form-error-registration {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
    position: absolute;
    margin: -12px 0 0px 93px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
.popup__form-error-registration {
    width: 100%;
    margin: -23px 0 0px 46px;
	}
}

